* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	/* background colours */
	--dark1: #0a0a23;
	--dark2: #1b1b32;
	--dark3: #2a2a40;
	--dark4: #3b3b4f;
	/* text and main highlight colour */
	--light1: #ffffff;
	--light2: #f5f6f7;
	--light3: #dfdfe2;
	--light4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
	/* standard */
	--border-radius: 5px;
	--box-shadow: 0 0 0 1px #000,
	inset 0 1px 1px rgba(255, 255, 255, .1),
	0 30px 30px rgba(0, 0, 0, .07),
	0 15px 15px rgba(0, 0, 0, .06),
	0 10px 8px rgba(0, 0, 0, .05),
	0 4px 4px rgba(0, 0, 0, .04),
	0 2px 2px rgba(0, 0, 0, .03);
}

html {
	scroll-behavior: smooth;
	color: var(--light1);
}

body {
	background-color: var(--dark1);
	overflow-y: hidden;
}

/* Standardise */

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
	display: inline-block;
}

h3 {
	font-size: 3rem;
}

p {
	font-size: 2rem;
	display: inline-block;
}

span {
	font-size: 4rem;
	margin-left: 1rem ;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: hidden;
}

section {
	/* outline: 1px red dashed; */
	margin: 1rem;
}

/* header panel */

header {

}

header.active {
	
}

/* info panel components */

#info-panel {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 15%;
	transform: translateY(-50%);
	padding: 2rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	background-color: var(--dark2);
}

/* game area elements */

#game-area {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-40%, -50%);
	max-width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	padding: 10rem;
	gap: 10rem;
	background-color: var(--dark3);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.hole {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--dark2);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.1),
	inset 0 0 30px rgba(0,0,0,.07),
	inset 0 0 15px rgba(0,0,0,.06),
	inset 0 0 8px rgba(0,0,0,.05),
	inset 0 0 4px rgba(0,0,0,.04),
	inset 0 0 2px rgba(0,0,0,.03);
	border: 1px solid var(--yellow);
	border-radius: var(--border-radius);
	outline-style: none;
	-webkit-tap-highlight-color: transparent;
}

.hole.bug {
	cursor: pointer;
}

.hidden {
	display: none;
}

/* tablets */

@media screen and (max-width: 768px) {
	#game-area {
		padding: 10%;
	}
}

/* phones */

@media screen and (max-width: 480px) {
	header {
		display: none;
	}
	
	#game-area {
		width: auto;
		padding: 1rem;
	}

	.hole {

	}

	#info-panel {
		position: relative;
		top: 0;
		width: auto;
		transform: none;
	}
}
