* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	/* background colours */
	--dark1: #0a0a23;
	--dark2: #1b1b32;
	--dark3: #2a2a40;
	--dark4: #3b3b4f;
	/* text and main highlight colour */
	--light1: #ffffff;
	--light2: #f5f6f7;
	--light3: #dfdfe2;
	--light4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
}

html {
	scroll-behavior: smooth;
	color: var(--light1);
}

body {
	background-color: var(--dark1);
	overflow-y: hidden;
}

/* Standardise */
h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
	display: inline-block;
}

h3 {
	font-size: 3rem;
}

p {
	font-size: 2rem;
	display: inline-block;
}

span {
	font-size: 4rem;
	margin-left: 1rem ;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: hidden;
}

section {
	outline: 1px red dashed;
}

/* info panel components */

#info-panel {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 15%;
	transform: translateY(-50%);
	padding: 2rem;
}

/* game area elements */

#game-area {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	padding: 10rem;
	gap: 2rem;
}

.hole {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--bg4);
	border: 1px solid #f1be32;
	border-radius: 25%;
	cursor: pointer;
	outline-style: none;
	-webkit-tap-highlight-color: transparent;
}

.hidden {
	display: none;
}

/* tablets */

@media screen and (max-width: 768px) {
	#game-area {
		padding: 10%;
		/* gap: 1rem; */
	}
}

/* phones */

@media screen and (max-width: 480px) {
	header {
		display: none;
	}
	
	#game-area {
		width: auto;
		padding: 1rem;
		/* gap: 1rem; */
	}

	.hole {

	}

	#info-panel {
		position: relative;
		top: 0;
		width: auto;
		transform: none;
	}
}
