* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	/* background colours */
	--dark1: #0a0a23;
	--dark2: #1b1b32;
	--dark3: #2a2a40;
	--dark4: #3b3b4f;
	/* text and main highlight colour */
	--light1: #ffffff;
	--light2: #f5f6f7;
	--light3: #dfdfe2;
	--light4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
	/* standard */
	--border-radius: 5px;
	--box-shadow: 0 0 0 1px #000,
	inset 0 1px 1px rgba(255, 255, 255, .1),
	0 30px 30px rgba(0, 0, 0, .07),
	0 15px 15px rgba(0, 0, 0, .06),
	0 10px 8px rgba(0, 0, 0, .05),
	0 4px 4px rgba(0, 0, 0, .04),
	0 2px 2px rgba(0, 0, 0, .03);
	/* animation */
	--animation-curve: cubic-bezier(0.16, 1, 0.3, 1);
}

html {
	scroll-behavior: smooth;
	color: var(--light1);
}

body {
	background-color: var(--dark1);
	overflow-y: hidden;
}

/* Standardise */

h1 {
	font-size: 5rem;
	font-family: Roboto Mono;
}

h2 {
	font-size: 4rem;
	font-family: Roboto Mono;
	display: inline-block;
}

h3 {
	font-size: 3rem;
	font-family: Lato;
}

p {
	font-size: 2rem;
	font-family: Lato;
	display: inline-block;
	margin-bottom: 1rem;
}

span {
	font-size: 4rem;
	margin-left: 1rem ;
}

a {
	text-decoration: none;
	color: inherit;
}

.ui {
	font-family: Roboto Mono;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
}

section {
	/* outline: 1px red dashed; */
	margin: 1rem;
}

.btn {
	max-height: 6rem;
    padding: 1rem 1rem;
	max-width: 15rem;
    background-color: var(--darkgreen);
    color: var(--light4);
	font-size: 1.5rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
	box-shadow: var(--box-shadow);
}

.btn:hover {
    background-color:var(--green);
	color: var(--dark1);
}

/* header panel */

header {
	position: relative;
	height: 100vh;
	width: 100vw;
	padding: 10% 20% 15%;
	background-color: var(--dark4);
	z-index: 1;
}

header.active {
	animation: headerslide 1s 0.2s var(--animation-curve);
	animation-fill-mode: forwards;
	
	#title {
		/* position: absolute; */
		/* top: 0; */
		animation: titleslide 2s 0.2s var(--animation-curve);
		animation-fill-mode: forwards;
	}
}

#button-box {
	position: absolute;
	left: 20%;
	bottom: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 0;
	gap: 0.5rem;
	margin-bottom: 2rem;
	height: 4rem;
	width: 10rem;
}

/* info panel components */

#info-panel {
	position: relative;
	left: 0%;
	min-width: 25rem;
	width: 15%;
	padding: 2rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	background-color: var(--dark2);
	z-index: 0;

	#link-box {
		margin: 2rem 0;
	}
}

/* game area elements */

#game-area {
	left: 50%;
	max-width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	padding: 10rem;
	gap: 10rem;
	background-color: var(--dark3);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.hole {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--dark2);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.1),
	inset 0 0 30px rgba(0,0,0,.07),
	inset 0 0 15px rgba(0,0,0,.06),
	inset 0 0 8px rgba(0,0,0,.05),
	inset 0 0 4px rgba(0,0,0,.04),
	inset 0 0 2px rgba(0,0,0,.03);
	border: 1px solid var(--yellow);
	border-radius: var(--border-radius);
	outline-style: none;
	-webkit-tap-highlight-color: transparent;

	#bug {
		width: 90%;
		height: auto;
	}
}

.hole.bug {
	cursor: pointer;
}

.hidden {
	display: none;
}

/* smaller screens */

@media (max-width: 1500px) {
	h2 {
		font-size: 3rem;
	}

	#game-area {
		padding: 10%;
	}
}

@media (max-width: 1100px) {
	#info-panel {

	}
}

/* phones */

@media (max-width: 480px) {
	:root {
		font-size: 8px;
	}

	header {
		padding: 20rem 1rem;

		#title {
			font-size: 3rem;
		}
	}
	
	main {
		position: absolute;
		display: flex;
		
		#game-area {
			width: auto;
			margin: 1rem auto;
			padding: 1rem;
			gap: 2rem;
			transform: translateY(-10rem);

			.hole {
				width: 8rem;
				height: 8rem;
			}
		}
		
		#info-panel {
			position: absolute;
			/* top: 0; */
			bottom: 5%;
			width: 90vw;
			height: 240px;
			margin: 1rem 5vw;
			transform: none;
			padding-top: 2px;
			padding-bottom: 5px;
		}
	}


}

@keyframes headerslide {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-100vh + 8rem));
	}
}

@keyframes titleslide {
	0% {
		position: relative;
	}
	50% {
		position: absolute;
		top: 0;
		transform: translate(0);
	}
	100% {
		position: absolute;
		top: 0;
		transform: translateY(calc(100vh - (100% + 1rem)));
	}
}
